<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>HTML</title>
    <style>
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>남자</th>
          <th>여자</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>호랑이</th>
          <td><%=data[0]%></td>
          <td><%=data[2]%></td>
        </tr>
        <tr>
          <th>코끼리</th>
          <td><%=data[1]%></td>
          <td><%=data[3]%></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>